Body{
    background-color: #3b214d; color: #ad7918;
}

    .link_title{
      text-align: center ;
    }
        #ego_pic{
        height: 500px;
        border: 1px;
        padding: 4px;
        margin-left: auto;
        margin-right: auto;
    }
        .cen{
        display: flex;
        justify-content: center;
    }
}
     #town_pic{
        position: absolute;
        border: 1px solid;
        padding: 4px;
        margin-left: auto;
        margin-right: auto;
     }
    
    
a{
    color: #b5925b;
}
.buttons {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.previous  {
    font-size: 18px;
    text-align: left;
    border: 1px solid;
    margin-left: 100px;
    position: relative;
   
    }
.main_page{
    font-size: 18px;
    text-align: center;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;

    width: 100px;
}
.next_project{
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: 100px ;
    border: 1px solid;
  
}
li{
    margin-left: 5px;
}

p{
    /*border: 1px solid;
    width: 250px;*/ ;
}
#para2{
    color: #3b214d ;
}
h1{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-style: solid;
    border-style: groove;
    border-color: #665233;
    text-align: center;
}
img{;
    float: left;
    margin: 10px;
    margin-right: 20px;
;
}
.title{
    font-family: "MV Boli";
}

#para1{
     font-family: "Ink Free" ;
	background-color: #44324d;
    color: #ff9912;
    opacity: 0.7;
    text-align: center;
    Font-size: 40px; 
    text-decoration: normal ;
    border-style: solid;
    padding: 4px;
  }
.main_box{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    background-color: #5d318f;
    justify-content: center;
   
}
#main{
    margin-left: auto;
    margin-right: auto;
    
    border: 1px; 
    height: 330px;
    width: 1000px;
    background-color: #471963;
}



background-color: #44324d;